* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    height: 100vh;
}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    font-size: 10vmin;
    background-color: rgb(48, 48, 48);
    padding: .3em .3em;
    border-radius: .25em;
}

.display {
    box-sizing: content-box;
    width: 12ch;
    padding: .5em .25em;
    background-color: rgb(56, 119, 37);
    border-radius: .25em;
    margin-bottom: .5em;
}

.row {
    display: flex;
    margin-top: .25em;
    gap: .1em;
}

.row > * {
    flex: 1;
}

button {
    font-size: .8em;
    padding: 0;
    border: .07em solid black;
    border-radius: .25em;
    background-color: rgb(250, 88, 59);
    color: white;
    font-weight: bold;
    transition: transform .1s ease-in-out;
}

button:hover, button:active {
    filter: brightness(70%);
    transform: translateY(-.05em);
}

.row > div {
    display: flex;
    gap: .1em;
}

.row > div > * {
    flex: 1;
}

.number, .decimal {
    background-color: aliceblue;
    color: black;
}

.ac {
    background-color: rgb(185, 27, 27);
}

.ce {
    background-color: rgb(255, 220, 24);
    color: black;
}